<style>
    img {
        width: 100%;
        max-width: 100px;
    }

    .errorBox {
        height: 200px;
        margin: 20px;
        background-color: #FBD603;
        text-align: center;
        padding-top: 1px;
    }

    .errorText {
        margin-top: 70px;
    }
</style>
<div>
    <br>
    <br>
    <br>
    <h1>Vista de productos</h1>
    <br>
    <br>
    {{#if products}}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>
                    <img src="{{this.thumbnail}}" alt="Imagen no valida">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="errorBox">
        <h1 class="errorText">
            No se encontraron productos
        </h1>
    </div>

    {{/if}}
</div>